cscope.out
tags
.deps/*
.libs/*
lib/*
bin/*
autom4te.cache/*
*.swp
*.orig
*.rej
*.o
*.lo
config.*
Makefile
Makefile.in
aclocal.m4
ar-lib
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
